@import "../../Styles/variables";
@import "../../Styles/mixins";
@import "../../Styles/icons";

.list-wrapper {
    padding: 0 30px 18px 30px;
    overflow: auto;
    height: calc(100vh - 390px);
    text-align: center;
    .list {
        text-align: left;
        .title {
            @include fontType(4);
            padding: 14px 0 16px 0;
            color: $color-4;
        }
        .trip {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 14px;
            text-decoration: none;
            color: $color-5;
            .id {
                @include fontType(7);
                color: $color-3;
            }
            .start-end,
            .time {
                @include fontType(7);
            }
            .icon-more {
                position: absolute;
                top: 5px;
                right: 0;
                font-size: 33px;
                color: $color-12;
            }
        }
        .document {
            .days-left,
            .expires-on {
                display: block;
                @include fontType(7);
            }
            margin-bottom: 18px;
        }
        border-bottom: 1px solid $color-1;
        &:last-of-type {
            border-bottom: none;
        }
    }
}

.no-trips-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;

    .icon-parked-car {
        font-size: 96px;
    }
    .no-trips {
        display: block;
    }
}
