/* Colors */
$color-0: #ffffff;
$color-1: #dddddd;
$color-2: #a1a1a1;
$color-3: #747474;
$color-4: #636363;
$color-5: #000000;
$color-6: #ffedac;
$color-7: #fdd015;
$color-8: #b3f7db;
$color-9: #02bf71;
$color-10: #f7b3b3;
$color-11: #f26d6d;
